[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
universion = {path = ".",editable = true}
black = "==19.3b0"
pylint = "*"
pytest = "*"
setuptools = "*"
twine = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
testfixtures = "*"

[packages]

[pipenv]
allow_prereleases = true
